extends ../etribe_ux_layout_html5
//- doctype 별로 extends 되는 파일 변경해주면 됨.
//- etribe_ux_layout_xhtml1.0
//- etribe_ux_layout_html5
//- etribe_ux_layout_mobile

//- layout 에서 선언한 공통적인 title 값이 맨뒤에 들어 감.
block title
	title Web Publisher - #{title}

block css
	+css_link("http://fonts.googleapis.com/earlyaccess/nanumgothic.css")

block script
	//- +js_link("//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=codeguid")
//- layout 에서 정의한 변수를 아래와 같이 페이지 별로 사용 가능.
//- block vars
//- 	- var bodyClass = 'index_page_body'
//- 	- var wrapClass = 'index_page_wrap'

block contents
	#container
		#content

			.guide_top
				h1.h1_guide
					| Code Guide
				p.p_guide01
					| E.TRIBE

			h2.h2_guide
				| 목차

			.guide_agenda
				ul.agenda_list.clfix
					li
						a.agenda_tit(href="#guide_content01_00")
							| HTML
						.agenda_sub_list
							a.agenda_sub_tit(href="#guide_content01_01")
								| 문법
							a.agenda_sub_tit(href="#guide_content01_02")
								| HTML5
							a.agenda_sub_tit(href="#guide_content01_03")
								| XHTML


					li
						a.agenda_tit(href="#guide_content02_00")
							| CSS
						.agenda_sub_list
							a.agenda_sub_tit(href="#guide_content02_01")
								| 문법


					li
						a.agenda_tit(href="#guide_content03_00")
							| MOBILE
						.agenda_sub_list
							a.agenda_sub_tit(href="#guide_content03_01")
								| Viewport


					li
						a.agenda_tit(href="#guide_content04_00")
							| NAMING
						.agenda_sub_list
							a.agenda_sub_tit(href="#guide_content04_01")
								| Image Naming
							a.agenda_sub_tit(href="#guide_content04_02")
								| Css Naming

			h2#guide_content01_00.h2_guide
				| HTML

			.guide_content.clfix
				.guide_desc
					h3#guide_content01_01.h3_guide
						| 문법

				.guide_source


