<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="<%= basepath %>/reset.css">
		<link rel="stylesheet" type="text/css" href="<%= basepath %>/common.css">
		<title></title>
	</head>
	<body>
		<%= content %>
	</body>
</html>